.menu_items{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 5%;
}
img{
    object-fit: cover;
    width: 100%;
    height: auto;
}
.buy{
    border: solid #b73322 1px;
    color: black;
    background-color: #f0e6e6;
    width: 150px;
    padding: 18px 16px;
    border-radius: 10px;
    margin-right: 5%;
    cursor: pointer;
    transition: background-color 0.3s;


}
.food{
    width: 100%;
    margin-top: -5%;
    border: solid #b73322 5px;
    border-radius: 45%;
    margin: 0,10%;
    margin-top: 10%;
}
.cards{
    border-radius: 35px;
    border: #eee0d9 8px solid;
    padding: 20px;
    background-color: #eee0d9;

}